{
	"swagger": "2.0",
	"info": {
		"version": "1.1",
		"title": "Typeform",
		"description": "Typeform APIs"
	},
	"host": "api.typeform.com",
	"basePath": "/",
	"schemes": ["https"],
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"tags": [{
		"name": "Accounts",
		"description": "Create and manage accounts."
	}, {
		"name": "AuthAPI",
		"description": "Authentication, applications management, OAuth2"
	}, {
		"name": "Connect API",
		"description": "Documentation intended for external integrations with a native experience. This documentation describes the endpoints that need to be implemented for a working integration."
	}, {
		"name": "Drafts",
		"description": "Retrieve and manage form drafts."
	}, {
		"name": "Form Validation",
		"description": "Validate form create and update requests"
	}, {
		"name": "Forms",
		"description": "Create and manage forms"
	}, {
		"name": "Image resizing",
		"description": "Request images by size"
	}, {
		"name": "Images",
		"description": "Create and manage images"
	}, {
		"name": "Integrations",
		"description": "Create and configure integrations. Sends form responses to your provider."
	}, {
		"name": "Landings",
		"description": "Landings for forms"
	}, {
		"name": "Machine Learning",
		"description": "Service for ML models ti Builder"
	}, {
		"name": "Metrics",
		"description": "Metrics about responses"
	}, {
		"name": "Reports",
		"description": "Reports about responses"
	}, {
		"name": "Responses",
		"description": "Responses for a form"
	}, {
		"name": "Submissions",
		"description": "Submissions on forms"
	}, {
		"name": "Teams",
		"description": "Retrieve and manage your team."
	}, {
		"name": "Theme Validation",
		"description": "Validate theme create and update requests"
	}, {
		"name": "Themes",
		"description": "Create and manage themes"
	}, {
		"name": "Typebot",
		"description": "Typebot configuration"
	}, {
		"name": "User",
		"description": "Management of the current user"
	}, {
		"name": "Webhooks",
		"description": "Create and configure webhooks to send form responses to your URL or web application."
	}, {
		"name": "Workspaces",
		"description": "Create and manage workspaces."
	}, {
		"name": "Zapier",
		"description": "Zapier integration and configuration"
	}],
	"securityDefinitions": {
		"legacy_bearer_auth": {
			"name": "api_key",
			"type": "apiKey",
			"in": "query",
			"description": "For legacy v0/v1 APIs or those that have not yet converted to OAuth 2 access tokens, use `?api_key=xxx` in the querystring."
		},
		"legacy_transition_auth": {
			"name": "Authorization",
			"type": "apiKey",
			"in": "header",
			"description": "For some newer APIs, the api_key is passed in the `Authorization` header in the form of `Bearer <accessToken>`. Once these APIs transition to using the public API access token and internal JWT token, they should change to using bearer_auth."
		},
		"bearer_auth": {
			"name": "Authorization",
			"type": "apiKey",
			"in": "header",
			"description": "To authenticate to any Typeform API, you'll need to pass a public API access token to the `Authorization` header in the form of `Bearer <accessToken>`. For calls inside the private network the same applies, but a JWT should be passed instead of a public API access token."
		},
		"internal_jwt_auth": {
			"name": "Authorization",
			"type": "apiKey",
			"in": "header",
			"description": "A string representation of JWT containing at least two parameters:\n\n`ctx.user_id` — user's id\n\n`ctx.account_id` — user's default account id\n`ctx.account_uid` — user's default account uid\nThe usage of account_(u)id from JWT is discouraged, user can have access to multiple accounts, every endpoint has to be account aware if it's needed.\n\nThis JWT must be signed by the appropriate authority."
		},
		"clientIDSecretAuth": {
			"type": "basic",
			"description": "This authentication type implies passing\n`client_id` and `client_secret` values for your\napplications as `username` and `password` parameters\nin the Basic Auth scheme.\n\nExample (pseudocode):\n\n```\nconst client_id = \"...\"\nconst client_secret = \"...\"\n\nfunction doRequest() {\n  request = http.NewRequest(...)\n  request.headers[\"Authorization\"] = base64(client_id + \":\" + client_secret)\n  http.send_request(request)\n}\n```\n"
		}
	},
	"definitions": {
		"FormResultCounter": {
			"type": "object",
			"properties": {
				"count": {
					"type": "number",
					"format": "integer"
				}
			}
		},
		"ResultMetrics": {
			"type": "object",
			"properties": {
				"visits": {
					"type": "number"
				},
				"unique": {
					"type": "number"
				},
				"average": {
					"type": "number"
				}
			}
		},
		"FormResultMetrics": {
			"type": "object",
			"properties": {
				"desktop": {
					"type": "object",
					"properties": {
						"visits": {
							"type": "number"
						},
						"unique": {
							"type": "number"
						},
						"average": {
							"type": "number"
						}
					}
				},
				"tablet": {
					"type": "object",
					"properties": {
						"visits": {
							"type": "number"
						},
						"unique": {
							"type": "number"
						},
						"average": {
							"type": "number"
						}
					}
				},
				"phone": {
					"type": "object",
					"properties": {
						"visits": {
							"type": "number"
						},
						"unique": {
							"type": "number"
						},
						"average": {
							"type": "number"
						}
					}
				},
				"unknown": {
					"type": "object",
					"properties": {
						"visits": {
							"type": "number"
						},
						"unique": {
							"type": "number"
						},
						"average": {
							"type": "number"
						}
					}
				}
			},
			"example": {
				"desktop": {
					"average": 1,
					"unique": 3,
					"visits": 4
				},
				"phone": {
					"average": 1,
					"unique": 3,
					"visits": 4
				},
				"tablet": {
					"average": 1,
					"unique": 3,
					"visits": 4
				},
				"unknown": {
					"average": 1,
					"unique": 3,
					"visits": 4
				}
			}
		},
		"Metadata": {
			"type": "object",
			"description": "Metadata about a client's HTTP request.",
			"properties": {
				"user_agent": {
					"type": "string"
				},
				"platform": {
					"type": "string",
					"description": "Derived from user agent"
				},
				"referer": {
					"type": "string"
				},
				"network_id": {
					"type": "string",
					"description": "Ip of the client"
				}
			},
			"required": ["user_agent"]
		},
		"Landing": {
			"type": "object",
			"description": "Landing resource as retrieved from the API.",
			"properties": {
				"hidden": {
					"type": "array",
					"items": {
						"type": "object"
					}
				},
				"metadata": {
					"type": "object",
					"description": "Metadata about a client's HTTP request.",
					"properties": {
						"user_agent": {
							"type": "string"
						},
						"platform": {
							"type": "string",
							"description": "Derived from user agent"
						},
						"referer": {
							"type": "string"
						},
						"network_id": {
							"type": "string",
							"description": "Masked client's IP"
						}
					}
				},
				"landed_at": {
					"type": "string"
				},
				"_links": {
					"type": "object",
					"properties": {
						"self": {
							"type": "string"
						}
					}
				}
			}
		},
		"LandingCreate": {
			"type": "object",
			"description": "Landing resource as created by clients.",
			"properties": {
				"hidden": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"field": {
								"type": "string"
							},
							"value": {
								"type": "string"
							}
						}
					}
				},
				"metadata": {
					"type": "object",
					"description": "Metadata about a client's HTTP request.",
					"properties": {
						"user_agent": {
							"type": "string"
						},
						"referer": {
							"type": "string"
						},
						"ip": {
							"type": "string",
							"description": "Client's IP"
						}
					},
					"required": ["user_agent"]
				}
			}
		},
		"FormSubmission": {
			"type": "object",
			"description": "Complete form submission as stored in the database. Contains metadata, landing information, and the submitted answers.",
			"properties": {
				"landing_id": {
					"type": "string",
					"description": "Deprecated; now `response_id`."
				},
				"response_id": {
					"type": "string",
					"description": "Unique ID for the response. Note that `response_id` values are unique per form but are not unique globally."
				},
				"landed_at": {
					"type": "string",
					"description": "Time of the form landing. In ISO 8601 format, UTC time, to the second, with T as a delimiter between the date and time."
				},
				"submitted_at": {
					"type": "string",
					"description": "Time that the form response was submitted. In ISO 8601 format, UTC time, to the second, with T as a delimiter between the date and time."
				},
				"metadata": {
					"type": "object",
					"description": "Metadata about a client's HTTP request.",
					"properties": {
						"user_agent": {
							"type": "string"
						},
						"platform": {
							"type": "string",
							"description": "Derived from user agent"
						},
						"referer": {
							"type": "string"
						},
						"network_id": {
							"type": "string",
							"description": "Ip of the client"
						}
					},
					"required": ["user_agent"]
				},
				"hidden": {
					"type": "object"
				},
				"definition": {
					"type": "object",
					"description": "Subset of a complete form definition to be included with a submission.",
					"properties": {
						"fields": {
							"type": "array",
							"items": {
								"type": "object",
								"description": "Subset of a complete field definition to be included with a submission.",
								"properties": {
									"id": {
										"type": "string"
									},
									"type": {
										"type": "string"
									},
									"title": {
										"type": "string"
									},
									"description": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"answers": {
					"type": "array",
					"items": {
						"type": "object",
						"description": "A sum of all fields that may occur in an answer. Based on the\n field type, different properties are required.",
						"properties": {
							"field": {
								"type": "object",
								"properties": {
									"id": {
										"type": "string",
										"description": "The unique id of the form field the answer refers to."
									},
									"type": {
										"type": "string",
										"description": "The field's type in the original form."
									},
									"ref": {
										"type": "string",
										"description": "The reference for the question the answer relates to. Use the `ref` value to match answers with questions. The Responses payload only includes `ref` for the fields where you specified them when you created the form."
									},
									"title": {
										"type": "string",
										"description": "The form field's title which the answer is related to."
									}
								},
								"required": ["id"]
							},
							"type": {
								"type": "string",
								"description": "The answer-field's type.",
								"enum": ["choice", "choices", "date", "email", "url", "file_url", "number", "boolean", "text", "payment"]
							},
							"choice": {
								"type": "object",
								"description": "Represents single choice answers for dropdown-like fields.",
								"properties": {
									"label": {
										"type": "string"
									},
									"other": {
										"type": "string"
									}
								}
							},
							"choices": {
								"type": "object",
								"description": "Represents multiple choice answers.",
								"properties": {
									"labels": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"other": {
										"type": "string"
									}
								}
							},
							"date": {
								"type": "string",
								"format": "date-time"
							},
							"email": {
								"type": "string",
								"format": "email"
							},
							"file_url": {
								"type": "string",
								"format": "uri"
							},
							"number": {
								"type": "number"
							},
							"boolean": {
								"type": "boolean"
							},
							"text": {
								"type": "string"
							},
							"url": {
								"type": "string",
								"format": "uri"
							},
							"payment": {
								"type": "object",
								"properties": {
									"amount": {
										"type": "string"
									},
									"last4": {
										"type": "string"
									},
									"name": {
										"type": "string"
									}
								}
							}
						},
						"required": ["type"]
					}
				},
				"calculated": {
					"type": "object",
					"properties": {
						"score": {
							"type": "number"
						}
					}
				}
			}
		},
		"FormSubmissionCreate": {
			"type": "object",
			"properties": {
				"landing_id": {
					"type": "string"
				},
				"answers": {
					"type": "array",
					"items": {
						"type": "object",
						"description": "A sum of all fields that may occur in an answer. Based on the\n field type, different properties are required.",
						"properties": {
							"field": {
								"type": "object",
								"properties": {
									"id": {
										"type": "string",
										"description": "The unique id of the form field the answer refers to."
									},
									"type": {
										"type": "string",
										"description": "The field's type in the original form."
									},
									"ref": {
										"type": "string",
										"description": "The reference for the question the answer relates to. Use the `ref` value to match answers with questions. The Responses payload only includes `ref` for the fields where you specified them when you created the form."
									},
									"title": {
										"type": "string",
										"description": "The form field's title which the answer is related to."
									}
								},
								"required": ["id"]
							},
							"type": {
								"type": "string",
								"description": "The answer-field's type.",
								"enum": ["choice", "choices", "date", "email", "url", "file_url", "number", "boolean", "text", "payment"]
							},
							"choice": {
								"type": "object",
								"description": "Represents single choice answers for dropdown-like fields.",
								"properties": {
									"label": {
										"type": "string"
									},
									"other": {
										"type": "string"
									}
								}
							},
							"choices": {
								"type": "object",
								"description": "Represents multiple choice answers.",
								"properties": {
									"labels": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"other": {
										"type": "string"
									}
								}
							},
							"date": {
								"type": "string",
								"format": "date-time"
							},
							"email": {
								"type": "string",
								"format": "email"
							},
							"file_url": {
								"type": "string",
								"format": "uri"
							},
							"number": {
								"type": "number"
							},
							"boolean": {
								"type": "boolean"
							},
							"text": {
								"type": "string"
							},
							"url": {
								"type": "string",
								"format": "uri"
							},
							"payment": {
								"type": "object",
								"properties": {
									"amount": {
										"type": "string"
									},
									"last4": {
										"type": "string"
									},
									"name": {
										"type": "string"
									}
								}
							}
						},
						"required": ["type"]
					}
				}
			},
			"required": ["landing_id"]
		},
		"FormResponses": {
			"type": "object",
			"description": "Representation of collection of responses to a specific form.\nIt is used for displaying results in a human-friendly format.",
			"example": {
				"total_items": 4,
				"page_count": 1,
				"items": [{
					"landing_id": "21085286190ffad1248d17c4135ee56f",
					"token": "21085286190ffad1248d17c4135ee56f",
					"response_id": "21085286190ffad1248d17c4135ee56f",
					"landed_at": "2017-09-14T22:33:59Z",
					"submitted_at": "2017-09-14T22:38:22Z",
					"metadata": {
						"user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.1.2 Safari/603.3.8",
						"platform": "other",
						"referer": "https://user_id.typeform.com/to/lR6F4j",
						"network_id": "responsdent_network_id",
						"browser": "default"
					},
					"answers": [{
						"field": {
							"id": "hVONkQcnSNRj",
							"type": "dropdown",
							"ref": "my_custom_dropdown_reference"
						},
						"type": "text",
						"text": "Job opportunities"
					}, {
						"field": {
							"id": "RUqkXSeXBXSd",
							"type": "yes_no",
							"ref": "my_custom_yes_no_reference"
						},
						"type": "boolean",
						"boolean": false
					}, {
						"field": {
							"id": "gFFf3xAkJKsr",
							"type": "legal",
							"ref": "my_custom_legal_reference"
						},
						"type": "boolean",
						"boolean": true
					}, {
						"field": {
							"id": "JwWggjAKtOkA",
							"type": "short_text",
							"ref": "my_custom_short_text_reference"
						},
						"type": "text",
						"text": "Lian"
					}, {
						"field": {
							"id": "SMEUb7VJz92Q",
							"type": "email",
							"ref": "my_custom_email_reference"
						},
						"type": "email",
						"email": "lian1078@other.com"
					}, {
						"field": {
							"id": "pn48RmPazVdM",
							"type": "number",
							"ref": "my_custom_number_reference"
						},
						"type": "number",
						"number": 1
					}, {
						"field": {
							"id": "Q7M2XAwY04dW",
							"type": "number",
							"ref": "my_custom_number2_reference"
						},
						"type": "number",
						"number": 1
					}, {
						"field": {
							"id": "WOTdC00F8A3h",
							"type": "rating",
							"ref": "my_custom_rating_reference"
						},
						"type": "number",
						"number": 3
					}, {
						"field": {
							"id": "DlXFaesGBpoF",
							"type": "long_text",
							"ref": "my_custom_long_text_reference"
						},
						"type": "text",
						"text": "It's a big, busy city. I moved here for a job, but I like it, so I am planning to stay. I have made good friends here."
					}, {
						"field": {
							"id": "NRsxU591jIW9",
							"type": "opinion_scale",
							"ref": "my_custom_opinion_scale_reference"
						},
						"type": "number",
						"number": 1
					}, {
						"field": {
							"id": "PNe8ZKBK8C2Q",
							"type": "picture_choice",
							"ref": "my_custom_picture_choice_reference"
						},
						"type": "choices",
						"choices": {
							"labels": ["New York", "Tokyo"]
						}
					}, {
						"field": {
							"id": "KoJxDM3c6x8h",
							"type": "date",
							"ref": "my_custom_date_reference"
						},
						"type": "date",
						"date": "2012-03-20T00:00:00Z"
					}, {
						"field": {
							"id": "ceIXxpbP3t2q",
							"type": "multiple_choice",
							"ref": "my_custom_multiple_choice_reference"
						},
						"type": "choice",
						"choice": {
							"label": "A friend's experience in Sydney"
						}
					}, {
						"field": {
							"id": "k6TP9oLGgHjl",
							"type": "multiple_choice",
							"ref": "my_custom_multiple_choice2_reference"
						},
						"type": "choice",
						"choice": {
							"label": "Tokyo"
						}
					}],
					"hidden": {},
					"calculated": {
						"score": 2
					}
				}, {
					"landing_id": "610fc266478b41e4927945e20fe54ad2",
					"token": "610fc266478b41e4927945e20fe54ad2",
					"landed_at": "2017-09-14T22:27:38Z",
					"submitted_at": "2017-09-14T22:33:56Z",
					"metadata": {
						"user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36",
						"platform": "other",
						"referer": "https://user_id.typeform.com/to/lR6F4j",
						"network_id": "responsdent_network_id",
						"browser": "default"
					},
					"answers": [{
						"field": {
							"id": "k6TP9oLGgHjl",
							"type": "multiple_choice",
							"ref": "my_custom_multiple_choice2_reference"
						},
						"type": "choice",
						"choice": {
							"label": "New York"
						}
					}, {
						"field": {
							"id": "X4BgU2f1K6tG",
							"type": "file_upload",
							"ref": "my_custom_file_upload_reference"
						},
						"type": "file_url",
						"file_url": "https://api.typeform.com/forms/lT9Z2j/responses/7f46165474d11ee5836777d85df2cdab/fields/X4BgU2f1K6tG/files/afd8258fd453-aerial_view_rural_city_latvia_valmiera_urban_district_48132860.jpg"
					}, {
						"field": {
							"id": "ceIXxpbP3t2q",
							"type": "multiple_choice",
							"ref": "my_custom_multiple_choice_reference"
						},
						"type": "choice",
						"choice": {
							"label": "Other"
						}
					}, {
						"field": {
							"id": "hVONkQcnSNRj",
							"type": "dropdown",
							"ref": "my_custom_dropdown_reference"
						},
						"type": "text",
						"text": "Cost of living"
					}, {
						"field": {
							"id": "JwWggjAKtOkA",
							"type": "short_text",
							"ref": "my_custom_short_text_reference"
						},
						"type": "text",
						"text": "Sarah"
					}, {
						"field": {
							"id": "RUqkXSeXBXSd",
							"type": "yes_no",
							"ref": "my_custom_yes_no_reference"
						},
						"type": "boolean",
						"boolean": true
					}, {
						"field": {
							"id": "Fep7sEoBsnvC",
							"type": "long_text",
							"ref": "my_custom_long_text_reference"
						},
						"type": "text",
						"text": "I read a magazine article about traveling to Sydney"
					}, {
						"field": {
							"id": "gFFf3xAkJKsr",
							"type": "legal",
							"ref": "my_custom_legal_reference"
						},
						"type": "boolean",
						"boolean": true
					}, {
						"field": {
							"id": "BFcpoPU5yJPM",
							"type": "short_text",
							"ref": "my_custom_short_text_reference"
						},
						"type": "text",
						"text": "San Francisco"
					}, {
						"field": {
							"id": "SMEUb7VJz92Q",
							"type": "email",
							"ref": "my_custom_rmail_reference"
						},
						"type": "email",
						"email": "sarahbsmith@example.com"
					}, {
						"field": {
							"id": "pn48RmPazVdM",
							"type": "number",
							"ref": "my_custom_number_reference"
						},
						"type": "number",
						"number": 1
					}, {
						"field": {
							"id": "WOTdC00F8A3h",
							"type": "rating",
							"ref": "my_custom_rating_reference"
						},
						"type": "number",
						"number": 3
					}, {
						"field": {
							"id": "Q7M2XAwY04dW",
							"type": "number",
							"ref": "my_custom_number2_reference"
						},
						"type": "number",
						"number": 3
					}, {
						"field": {
							"id": "DlXFaesGBpoF",
							"type": "long_text",
							"ref": "my_custom_long_text_reference"
						},
						"type": "text",
						"text": "It's a rural area. Very quiet. There are a lot of farms...farming is the major industry here."
					}, {
						"field": {
							"id": "NRsxU591jIW9",
							"type": "opinion_scale",
							"ref": "my_custom_opinion_scale_reference"
						},
						"type": "number",
						"number": 1
					}, {
						"field": {
							"id": "KoJxDM3c6x8h",
							"type": "date",
							"ref": "my_custom_date_reference"
						},
						"type": "date",
						"date": "2016-05-13T00:00:00Z"
					}, {
						"field": {
							"id": "PNe8ZKBK8C2Q",
							"type": "picture_choice",
							"ref": "my_custom_picture_choice_reference"
						},
						"type": "choices",
						"choices": {
							"labels": ["London", "New York"]
						}
					}],
					"hidden": {},
					"calculated": {
						"score": 4
					}
				}, {
					"landing_id": "9ba5db11ec6c63d22f08aade805bd363",
					"token": "9ba5db11ec6c63d22f08aade805bd363",
					"landed_at": "2017-09-14T22:24:49Z",
					"submitted_at": "2017-09-14T22:27:34Z",
					"metadata": {
						"user_agent": "Mozilla/5.0 (iPhone; CPU iPhone OS 10_2_1 like Mac OS X) AppleWebKit/602.4.6 (KHTML, like Gecko) Version/10.0 Mobile/14D27 Safari/602.1",
						"platform": "other",
						"referer": "https://user_id.typeform.com/to/lR6F4j",
						"network_id": "responsdent_network_id",
						"browser": "default"
					},
					"answers": [{
						"field": {
							"id": "RUqkXSeXBXSd",
							"type": "yes_no",
							"ref": "my_custom_yes_no_reference"
						},
						"type": "boolean",
						"boolean": false
					}, {
						"field": {
							"id": "gFFf3xAkJKsr",
							"type": "legal",
							"ref": "my_custom_legal_reference"
						},
						"type": "boolean",
						"boolean": true
					}, {
						"field": {
							"id": "JwWggjAKtOkA",
							"type": "short_text",
							"ref": "my_custom_short_text_reference"
						},
						"type": "text",
						"text": "Paolo"
					}, {
						"field": {
							"id": "pn48RmPazVdM",
							"type": "number",
							"ref": "my_custom_number_reference"
						},
						"type": "number",
						"number": 5
					}, {
						"field": {
							"id": "Q7M2XAwY04dW",
							"type": "number",
							"ref": "my_custom_number2_reference"
						},
						"type": "number",
						"number": 5
					}, {
						"field": {
							"id": "PNe8ZKBK8C2Q",
							"type": "picture_choice",
							"ref": "my_custom_picture_choice_reference"
						},
						"type": "choices",
						"choices": {
							"labels": ["Barcelona", "Sydney"]
						}
					}, {
						"field": {
							"id": "WOTdC00F8A3h",
							"type": "rating",
							"ref": "my_custom_rating_reference"
						},
						"type": "number",
						"number": 5
					}, {
						"field": {
							"id": "DlXFaesGBpoF",
							"type": "long_text",
							"ref": "my_custom_long_text_reference"
						},
						"type": "text",
						"text": "I live in a medium-sized European city. It's not too crowded, and the people are nice. I like the weather. It's also easy to travel to many beautiful and interesting vacation destinations from where I live."
					}, {
						"field": {
							"id": "NRsxU591jIW9",
							"type": "opinion_scale",
							"ref": "my_custom_opinion_scale_reference"
						},
						"type": "number",
						"number": 4
					}, {
						"field": {
							"id": "KoJxDM3c6x8h",
							"type": "date",
							"ref": "my_custom_date_reference"
						},
						"type": "date",
						"date": "1999-08-01T00:00:00Z"
					}, {
						"field": {
							"id": "k6TP9oLGgHjl",
							"type": "multiple_choice",
							"ref": "my_custom_multiple_choice_reference"
						},
						"type": "choice",
						"choice": {
							"label": "Barcelona"
						}
					}],
					"hidden": {},
					"calculated": {
						"score": 10
					}
				}, {
					"landing_id": "5fcb3f9c162e1fcdaadff4405b741080",
					"token": "5fcb3f9c162e1fcdaadff4405b741080",
					"landed_at": "2017-09-15T09:09:30Z",
					"submitted_at": "0001-01-01T00:00:00Z",
					"metadata": {
						"user_agent": "Mozilla/5.0 (Linux; Android 4.1.2; GT-N7000 Build/JZO54K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.91 Mobile Safari/537.36",
						"platform": "other",
						"referer": "https://user_id.typeform.com/to/lR6F4j",
						"network_id": "responsdent_network_id",
						"browser": "default"
					},
					"answers": null,
					"hidden": {},
					"calculated": {
						"score": 0
					}
				}]
			},
			"properties": {
				"total_items": {
					"type": "number",
					"format": "integer",
					"description": "Total number of items in the retrieved collection."
				},
				"page_count": {
					"type": "number",
					"format": "integer",
					"description": "Number of pages."
				},
				"_links": {
					"type": "object",
					"properties": {
						"metrics": {
							"type": "string"
						},
						"reports": {
							"type": "string"
						}
					}
				},
				"items": {
					"type": "array",
					"items": {
						"type": "object",
						"description": "Complete form submission as stored in the database. Contains metadata, landing information, and the submitted answers.",
						"properties": {
							"landing_id": {
								"type": "string",
								"description": "Deprecated; now `response_id`."
							},
							"response_id": {
								"type": "string",
								"description": "Unique ID for the response. Note that `response_id` values are unique per form but are not unique globally."
							},
							"landed_at": {
								"type": "string",
								"description": "Time of the form landing. In ISO 8601 format, UTC time, to the second, with T as a delimiter between the date and time."
							},
							"submitted_at": {
								"type": "string",
								"description": "Time that the form response was submitted. In ISO 8601 format, UTC time, to the second, with T as a delimiter between the date and time."
							},
							"metadata": {
								"type": "object",
								"description": "Metadata about a client's HTTP request.",
								"properties": {
									"user_agent": {
										"type": "string"
									},
									"platform": {
										"type": "string",
										"description": "Derived from user agent"
									},
									"referer": {
										"type": "string"
									},
									"network_id": {
										"type": "string",
										"description": "Ip of the client"
									}
								},
								"required": ["user_agent"]
							},
							"hidden": {
								"type": "object"
							},
							"definition": {
								"type": "object",
								"description": "Subset of a complete form definition to be included with a submission.",
								"properties": {
									"fields": {
										"type": "array",
										"items": {
											"type": "object",
											"description": "Subset of a complete field definition to be included with a submission.",
											"properties": {
												"id": {
													"type": "string"
												},
												"type": {
													"type": "string"
												},
												"title": {
													"type": "string"
												},
												"description": {
													"type": "string"
												}
											}
										}
									}
								}
							},
							"answers": {
								"type": "array",
								"items": {
									"type": "object",
									"description": "A sum of all fields that may occur in an answer. Based on the\n field type, different properties are required.",
									"properties": {
										"field": {
											"type": "object",
											"properties": {
												"id": {
													"type": "string",
													"description": "The unique id of the form field the answer refers to."
												},
												"type": {
													"type": "string",
													"description": "The field's type in the original form."
												},
												"ref": {
													"type": "string",
													"description": "The reference for the question the answer relates to. Use the `ref` value to match answers with questions. The Responses payload only includes `ref` for the fields where you specified them when you created the form."
												},
												"title": {
													"type": "string",
													"description": "The form field's title which the answer is related to."
												}
											},
											"required": ["id"]
										},
										"type": {
											"type": "string",
											"description": "The answer-field's type.",
											"enum": ["choice", "choices", "date", "email", "url", "file_url", "number", "boolean", "text", "payment"]
										},
										"choice": {
											"type": "object",
											"description": "Represents single choice answers for dropdown-like fields.",
											"properties": {
												"label": {
													"type": "string"
												},
												"other": {
													"type": "string"
												}
											}
										},
										"choices": {
											"type": "object",
											"description": "Represents multiple choice answers.",
											"properties": {
												"labels": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"other": {
													"type": "string"
												}
											}
										},
										"date": {
											"type": "string",
											"format": "date-time"
										},
										"email": {
											"type": "string",
											"format": "email"
										},
										"file_url": {
											"type": "string",
											"format": "uri"
										},
										"number": {
											"type": "number"
										},
										"boolean": {
											"type": "boolean"
										},
										"text": {
											"type": "string"
										},
										"url": {
											"type": "string",
											"format": "uri"
										},
										"payment": {
											"type": "object",
											"properties": {
												"amount": {
													"type": "string"
												},
												"last4": {
													"type": "string"
												},
												"name": {
													"type": "string"
												}
											}
										}
									},
									"required": ["type"]
								}
							},
							"calculated": {
								"type": "object",
								"properties": {
									"score": {
										"type": "number"
									}
								}
							}
						}
					}
				}
			}
		},
		"FormSubmissionAnswer": {
			"type": "object",
			"description": "A sum of all fields that may occur in an answer. Based on the\n field type, different properties are required.",
			"properties": {
				"field": {
					"type": "object",
					"properties": {
						"id": {
							"type": "string",
							"description": "The unique id of the form field the answer refers to."
						},
						"type": {
							"type": "string",
							"description": "The field's type in the original form."
						},
						"ref": {
							"type": "string",
							"description": "The reference for the question the answer relates to. Use the `ref` value to match answers with questions. The Responses payload only includes `ref` for the fields where you specified them when you created the form."
						},
						"title": {
							"type": "string",
							"description": "The form field's title which the answer is related to."
						}
					},
					"required": ["id"]
				},
				"type": {
					"type": "string",
					"description": "The answer-field's type.",
					"enum": ["choice", "choices", "date", "email", "url", "file_url", "number", "boolean", "text", "payment"]
				},
				"choice": {
					"type": "object",
					"description": "Represents single choice answers for dropdown-like fields.",
					"properties": {
						"label": {
							"type": "string"
						},
						"other": {
							"type": "string"
						}
					}
				},
				"choices": {
					"type": "object",
					"description": "Represents multiple choice answers.",
					"properties": {
						"labels": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"other": {
							"type": "string"
						}
					}
				},
				"date": {
					"type": "string",
					"format": "date-time"
				},
				"email": {
					"type": "string",
					"format": "email"
				},
				"file_url": {
					"type": "string",
					"format": "uri"
				},
				"number": {
					"type": "number"
				},
				"boolean": {
					"type": "boolean"
				},
				"text": {
					"type": "string"
				},
				"url": {
					"type": "string",
					"format": "uri"
				},
				"payment": {
					"type": "object",
					"properties": {
						"amount": {
							"type": "string"
						},
						"last4": {
							"type": "string"
						},
						"name": {
							"type": "string"
						}
					}
				}
			},
			"required": ["type"]
		},
		"ReportItem": {
			"type": "object",
			"properties": {
				"value": {
					"type": "string"
				},
				"count": {
					"type": "number",
					"format": "integer"
				}
			}
		},
		"ResultReports": {
			"type": "array",
			"items": {
				"type": "object",
				"properties": {
					"value": {
						"type": "string"
					},
					"count": {
						"type": "number",
						"format": "integer"
					}
				}
			}
		},
		"TypebotReq": {
			"type": "object",
			"required": ["service"],
			"properties": {
				"token": {
					"type": "string"
				},
				"service": {
					"enum": ["Messenger"]
				}
			}
		},
		"TypebotResp": {
			"type": "object",
			"properties": {
				"connected_services": {
					"type": "object",
					"properties": {
						"messenger": {
							"type": "object",
							"properties": {
								"sharing_url": {
									"type": "string"
								}
							}
						},
						"slack": {
							"type": "object",
							"properties": {
								"bot_name": {
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"ZapierDefinition": {
			"type": "array",
			"items": {
				"type": "object",
				"properties": {
					"key": {
						"type": "string"
					},
					"value": {
						"type": "string"
					}
				}
			}
		},
		"ZapierFormList": {
			"type": "array",
			"items": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"name": {
						"type": "string"
					}
				}
			}
		},
		"ApplicationCreateRequest": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string",
					"minLength": 1,
					"maxLength": 255
				},
				"description": {
					"type": "string",
					"maxLength": 5000
				},
				"homepage_url": {
					"type": "string",
					"format": "uri"
				},
				"logo_url": {
					"type": "string",
					"format": "uri"
				},
				"allowed_redirect_uris": {
					"type": "array",
					"items": {
						"type": "string",
						"format": "uri"
					}
				},
				"token_expiration_period": {
					"description": "Time until the token expires. In seconds. If you specify 0, the token will not expire.",
					"type": "integer",
					"format": "uint32",
					"minimum": 60,
					"maximum": 604800
				}
			},
			"required": ["name", "homepage_url", "logo_url", "allowed_redirect_uris"]
		},
		"Application": {
			"type": "object",
			"properties": {
				"client_id": {
					"type": "string"
				},
				"name": {
					"type": "string",
					"minLength": 1,
					"maxLength": 255
				},
				"description": {
					"type": "string",
					"maxLength": 5000
				},
				"homepage_url": {
					"type": "string",
					"format": "uri"
				},
				"logo_url": {
					"type": "string",
					"format": "uri"
				},
				"allowed_redirect_uris": {
					"type": "array",
					"items": {
						"type": "string",
						"format": "uri"
					}
				},
				"token_expiration_period": {
					"type": "integer",
					"format": "uint32"
				}
			},
			"required": ["name", "homepage_url", "logo_url", "allowed_redirect_uris"]
		},
		"ApplicationWithSecret": {
			"type": "object",
			"properties": {
				"client_id": {
					"type": "string"
				},
				"client_secret": {
					"type": "string"
				},
				"name": {
					"type": "string",
					"minLength": 1,
					"maxLength": 255
				},
				"description": {
					"type": "string",
					"maxLength": 5000
				},
				"homepage_url": {
					"type": "string",
					"format": "uri"
				},
				"logo_url": {
					"type": "string",
					"format": "uri"
				},
				"allowed_redirect_uris": {
					"type": "array",
					"items": {
						"type": "string",
						"format": "uri"
					}
				},
				"token_expiration_period": {
					"type": "integer",
					"format": "uint32"
				}
			},
			"required": ["name", "homepage_url", "logo_url", "allowed_redirect_uris"]
		},
		"ApplicationSummary": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"homepage_url": {
					"type": "string"
				},
				"logo_url": {
					"type": "string"
				}
			},
			"required": ["name", "homepage_url"]
		},
		"ApplicationUpdateRequest": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string",
					"minLength": 1,
					"maxLength": 255
				},
				"description": {
					"type": "string",
					"maxLength": 5000
				},
				"homepage_url": {
					"type": "string",
					"format": "uri"
				},
				"logo_url": {
					"type": "string",
					"format": "uri"
				},
				"allowed_redirect_uris": {
					"type": "array",
					"items": {
						"type": "string",
						"format": "uri"
					}
				},
				"token_expiration_period": {
					"type": "integer",
					"format": "uint32"
				}
			}
		},
		"Grant": {
			"type": "object",
			"properties": {
				"application": {
					"type": "object",
					"properties": {
						"client_id": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"homepage_url": {
							"type": "string"
						},
						"logo_url": {
							"type": "string"
						}
					}
				},
				"scopes": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"stats": {
					"type": "object",
					"properties": {
						"codes_count": {
							"type": "number"
						},
						"tokens_count": {
							"type": "number"
						},
						"refresh_tokens_count": {
							"type": "number"
						}
					}
				}
			}
		},
		"CreatePersonalTokenRequest": {
			"type": "object",
			"required": ["description", "scopes"],
			"properties": {
				"description": {
					"type": "string"
				},
				"scopes": {
					"type": "array",
					"items": {
						"type": "string"
					}
				}
			}
		},
		"CreatePersonalTokenResponse": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"ref": {
					"type": "string",
					"description": "Personal Access Token"
				},
				"description": {
					"type": "string"
				},
				"scopes": {
					"type": "array",
					"items": {
						"type": "string"
					}
				}
			}
		},
		"PersonalToken": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"scopes": {
					"type": "array",
					"items": {
						"type": "string"
					}
				}
			}
		},
		"Code": {
			"type": "object",
			"required": ["client_id", "redirect_uri", "scopes", "payload"],
			"properties": {
				"code": {
					"type": "string"
				},
				"client_id": {
					"type": "string"
				},
				"redirect_uri": {
					"type": "string",
					"format": "url"
				},
				"scopes": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"payload": {
					"type": "object",
					"required": ["account_id", "user_id", "plan"],
					"properties": {
						"account_id": {
							"type": "string"
						},
						"user_id": {
							"type": "string"
						},
						"plan": {
							"type": "string"
						},
						"impersonator_account_id": {
							"type": "string"
						}
					}
				}
			}
		},
		"Token": {
			"type": "object",
			"properties": {
				"ref": {
					"type": "string"
				},
				"jwt": {
					"type": "string"
				},
				"expires_at": {
					"type": "string"
				},
				"scopes": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"description": {
					"type": "string"
				}
			}
		},
		"UpgradePayload": {
			"type": "object",
			"required": ["access_token", "type"],
			"properties": {
				"access_token": {
					"type": "string"
				},
				"type": {
					"type": "string"
				}
			}
		},
		"Payload": {
			"type": "object",
			"required": ["account_id", "user_id", "plan"],
			"properties": {
				"account_id": {
					"type": "string"
				},
				"user_id": {
					"type": "string"
				},
				"plan": {
					"type": "string"
				},
				"impersonator_account_id": {
					"type": "string"
				}
			}
		},
		"Scopes": {
			"type": "array",
			"items": {
				"type": "string"
			}
		},
		"APIKeyMigrationRequest": {
			"type": "array",
			"items": {
				"type": "string"
			}
		},
		"APIKeyMigrationResponse": {
			"type": "array",
			"items": {
				"type": "object",
				"required": ["api_key"],
				"properties": {
					"api_key": {
						"type": "string"
					},
					"access_token": {
						"type": "string"
					},
					"expires_in": {
						"type": "integer"
					},
					"refresh_token": {
						"type": "string"
					},
					"error": {
						"type": "string",
						"description": "An error code if the error happened during the particular API key processing. Possible error codes:\n- `API_KEY_INVALID`\n- `API_KEY_DOES_NOT_EXIST`\n- `API_KEY_ALREADY_MIGRATED`\n"
					}
				}
			}
		},
		"APIKeyMigration": {
			"type": "object",
			"required": ["api_key"],
			"properties": {
				"api_key": {
					"type": "string"
				},
				"access_token": {
					"type": "string"
				},
				"expires_in": {
					"type": "integer"
				},
				"refresh_token": {
					"type": "string"
				},
				"error": {
					"type": "string",
					"description": "An error code if the error happened during the particular API key processing. Possible error codes:\n- `API_KEY_INVALID`\n- `API_KEY_DOES_NOT_EXIST`\n- `API_KEY_ALREADY_MIGRATED`\n"
				}
			}
		},
		"ErrorResponse": {
			"title": "Error",
			"type": "object",
			"properties": {
				"code": {
					"description": "A developer-readable snake_case key, indicating some idea of what type of error occurred.",
					"example": "INVALID_JSON",
					"type": "string"
				},
				"description": {
					"description": "A developer-readable description of the error, expanding on the terse code.",
					"example": "Unable to process the JSON in the request body.",
					"type": "string"
				},
				"details": {
					"description": "An optional object containing more detailed info regarding which field the error occurred in.",
					"items": {
						"properties": {
							"code": {
								"description": "A developer-readable snake_case key, indicating some idea of what type of error occurred.",
								"example": "FIELD_LENGTH",
								"type": "string"
							},
							"description": {
								"description": "A developer-readable description about the field-level error.",
								"example": "The provided \"title\" field was 88 characters, and only accepts 64 characters.",
								"type": "string"
							},
							"field": {
								"description": "Which field the error occurred. This could refer to a field in the request body, request header, or query parameter.",
								"example": "title",
								"type": "string"
							},
							"help": {
								"description": "A URL linking to help content, to aid the client developer in resolving the error. This value should be provided whenever available.",
								"example": "https://developer.typeform.com/errors#FIELD_LENGTH",
								"type": "string"
							},
							"in": {
								"description": "The type of field that caused the error.",
								"enum": ["header", "body", "query"],
								"type": "string"
							}
						},
						"type": "object"
					},
					"type": "array"
				},
				"help": {
					"description": "A URL linking to help content, to aid the client developer in resolving the error. This value should be provided whenever available.",
					"example": "https://developer.typeform.com/errors#INVALID_JSON",
					"type": "string"
				}
			}
		},
		"Boxes": {
			"type": "array",
			"items": {
				"type": "object",
				"description": "Box is the boombox representation of a form field.",
				"properties": {
					"id": {
						"description": "It identifies the box inside the form.",
						"type": "string"
					},
					"ref": {
						"description": "Identifies the box by reference. It is used for piping.",
						"type": "string"
					},
					"type": {
						"description": "It determines the type of the field box to render.",
						"type": "string",
						"enum": ["multiple_choice", "picture_choice", "date", "yes_no", "legal", "opinion_scale", "rating", "dropdown", "payment", "website", "file_upload", "number", "email", "long_text", "short_text", "group", "phone_number"]
					},
					"title": {
						"description": "Title is the text that will show up in the top of the field box.",
						"type": "string"
					},
					"summary": {
						"type": "object",
						"description": "Box summary provides the counters of how many responses out of the total have filled this specific field, to be able to show this information on render.",
						"properties": {
							"count": {
								"description": "How many responses have this specific field. Only for closed ended boxes.",
								"type": "number"
							},
							"total": {
								"description": "Total number of responses for the form.",
								"type": "number"
							},
							"multiple_choice": {
								"type": "object",
								"properties": {
									"has_other": {
										"type": "boolean"
									},
									"is_multiple_selection": {
										"type": "boolean"
									}
								}
							},
							"picture_choice": {
								"type": "object",
								"properties": {
									"has_other": {
										"type": "boolean"
									},
									"is_multiple_selection": {
										"type": "boolean"
									}
								}
							},
							"date": {
								"type": "object",
								"properties": {
									"format": {
										"description": "Shows the date format.",
										"type": "string"
									}
								}
							},
							"rating": {
								"type": "object",
								"properties": {
									"average": {
										"type": "number",
										"format": "float"
									},
									"icon": {
										"type": "string"
									}
								}
							},
							"payment": {
								"type": "object",
								"properties": {
									"currency": {
										"type": "string"
									}
								},
								"example": {
									"currency": "USD"
								}
							}
						},
						"example": {
							"count": 14,
							"total": 50
						}
					},
					"content": {
						"description": "For certain field boxes, the content of the box is in a graphic form. This provides information to render this graphics.",
						"type": "array",
						"items": {
							"type": "object",
							"description": "Box content provides the necessary information to render a field box grpahic in the results panel.",
							"properties": {
								"label": {
									"description": "Label represents the text of the selected choice.",
									"type": "string"
								},
								"value": {
									"description": "Value represent what value has out of the total responses for that field. Is used to show extra information on hover.",
									"type": "number"
								},
								"percentage": {
									"description": "Number representing the percentage of the responses belonging to that choice.",
									"type": "number",
									"format": "float"
								},
								"picture_choice": {
									"type": "object",
									"properties": {
										"image_url": {
											"type": "string"
										}
									}
								},
								"opinion_scale": {
									"type": "object",
									"properties": {
										"left": {
											"type": "string"
										},
										"center": {
											"type": "string"
										},
										"right": {
											"type": "string"
										}
									},
									"example": {
										"left": "Super low",
										"center": "Not so bad",
										"right": "Superb"
									}
								}
							},
							"example": {
								"label": "Blue",
								"value": 30,
								"percentage": 15.5
							}
						}
					},
					"group": {
						"type": "object",
						"properties": {
							"boxes": {
								"type": "array",
								"items": {
									"type": "object",
									"description": "Box is the boombox representation of a form field.",
									"properties": {
										"id": {
											"description": "It identifies the box inside the form.",
											"type": "string"
										},
										"ref": {
											"description": "Identifies the box by reference. It is used for piping.",
											"type": "string"
										},
										"type": {
											"description": "It determines the type of the field box to render.",
											"type": "string",
											"enum": ["multiple_choice", "picture_choice", "date", "yes_no", "legal", "opinion_scale", "rating", "dropdown", "payment", "website", "file_upload", "number", "email", "long_text", "short_text", "group", "phone_number"]
										},
										"title": {
											"description": "Title is the text that will show up in the top of the field box.",
											"type": "string"
										},
										"summary": {
											"type": "object",
											"description": "Box summary provides the counters of how many responses out of the total have filled this specific field, to be able to show this information on render.",
											"properties": {
												"count": {
													"description": "How many responses have this specific field. Only for closed ended boxes.",
													"type": "number"
												},
												"total": {
													"description": "Total number of responses for the form.",
													"type": "number"
												},
												"multiple_choice": {
													"type": "object",
													"properties": {
														"has_other": {
															"type": "boolean"
														},
														"is_multiple_selection": {
															"type": "boolean"
														}
													}
												},
												"picture_choice": {
													"type": "object",
													"properties": {
														"has_other": {
															"type": "boolean"
														},
														"is_multiple_selection": {
															"type": "boolean"
														}
													}
												},
												"date": {
													"type": "object",
													"properties": {
														"format": {
															"description": "Shows the date format.",
															"type": "string"
														}
													}
												},
												"rating": {
													"type": "object",
													"properties": {
														"average": {
															"type": "number",
															"format": "float"
														},
														"icon": {
															"type": "string"
														}
													}
												},
												"payment": {
													"type": "object",
													"properties": {
														"currency": {
															"type": "string"
														}
													},
													"example": {
														"currency": "USD"
													}
												}
											},
											"example": {
												"count": 14,
												"total": 50
											}
										},
										"content": {
											"description": "For certain field boxes, the content of the box is in a graphic form. This provides information to render this graphics.",
											"type": "array",
											"items": {
												"type": "object",
												"description": "Box content provides the necessary information to render a field box grpahic in the results panel.",
												"properties": {
													"label": {
														"description": "Label represents the text of the selected choice.",
														"type": "string"
													},
													"value": {
														"description": "Value represent what value has out of the total responses for that field. Is used to show extra information on hover.",
														"type": "number"
													},
													"percentage": {
														"description": "Number representing the percentage of the responses belonging to that choice.",
														"type": "number",
														"format": "float"
													},
													"picture_choice": {
														"type": "object",
														"properties": {
															"image_url": {
																"type": "string"
															}
														}
													},
													"opinion_scale": {
														"type": "object",
														"properties": {
															"left": {
																"type": "string"
															},
															"center": {
																"type": "string"
															},
															"right": {
																"type": "string"
															}
														},
														"example": {
															"left": "Super low",
															"center": "Not so bad",
															"right": "Superb"
														}
													}
												},
												"example": {
													"label": "Blue",
													"value": 30,
													"percentage": 15.5
												}
											}
										}
									},
									"example": {
										"id": "aBcDe",
										"type": "default",
										"title": "What is your name?"
									}
								}
							}
						}
					}
				},
				"example": {
					"id": "aBcDe",
					"type": "default",
					"title": "What is your name?"
				}
			}
		},
		"Metrics": {
			"type": "object",
			"description": "Metrics aggregates counters and calculations for the results of a specific form. It provides both aggregates per platform and a global summary.",
			"properties": {
				"summary": {
					"type": "object",
					"description": "Summary is global counters aggregate of the whole results set of a form.",
					"properties": {
						"responses_count": {
							"description": "Total of responses received.",
							"type": "number"
						},
						"completion_rate": {
							"description": "Completion rate. The number represents a percentage.",
							"type": "number"
						},
						"average_time": {
							"description": "Average completion time in milliseconds.",
							"type": "number"
						}
					},
					"example": {
						"response_count": 100,
						"completion_rate": 45.5,
						"average_time": 56000
					}
				},
				"platforms": {
					"description": "Platforms is a collection of platform specific metrics.",
					"type": "array",
					"items": {
						"type": "object",
						"description": "Metrics platform shows the specific metrics aggregates for a specific platform.",
						"properties": {
							"platform": {
								"description": "The name of the platform.",
								"type": "string",
								"enum": ["desktop", "other", "mobile"]
							},
							"responses_count": {
								"description": "Total of responses received.",
								"type": "number"
							},
							"completion_rate": {
								"description": "Completion rate. The number represents a percentage.",
								"type": "number"
							},
							"average_time": {
								"description": "Average completion time in milliseconds.",
								"type": "number"
							}
						},
						"example": {
							"platform": "desktop",
							"response_count": 100,
							"completion_rate": 45.5,
							"average_time": 56000
						}
					}
				}
			}
		},
		"BoxResponses": {
			"type": "object",
			"description": "BoxResponses is a collection of responses for a given box, plus a summary for requesting the next page.",
			"properties": {
				"page": {
					"type": "object",
					"description": "Page is a set of data to request the next page of a list of responses.",
					"properties": {
						"count": {
							"type": "number",
							"description": "Total number of responses for this field"
						},
						"next_until": {
							"type": "number",
							"description": "Next until is the timestamp for starting pulling the next page. When the requested page is the latest, this property will not appear."
						}
					},
					"example": {
						"count": 10,
						"next_until": 1502362013
					}
				}
			}
		},
		"Report": {
			"type": "object",
			"description": "Get report share data for a given form.",
			"properties": {
				"id": {
					"type": "string"
				},
				"url": {
					"type": "string"
				},
				"has_design": {
					"type": "boolean"
				}
			}
		},
		"Responses": {
			"type": "object",
			"description": "Responses is a collection of responses for a given box, plus a summary for requesting the next page.",
			"properties": {
				"page": {
					"type": "object",
					"description": "Page is a set of data to request the next page of a list of responses.",
					"properties": {
						"next_until": {
							"type": "number",
							"description": "Next until is the timestamp for start pulling the next page. When the requested page is the latest, this property will not appear."
						},
						"next_since": {
							"type": "number",
							"description": "Next since is the timestamp for start pulling the next page when order is asc. When the requested page is the latest, this property will not appear."
						},
						"next_page": {
							"type": "number",
							"description": "Next page is the number of the following page when sorting by field. When the requested page is the latest, this property will not appear."
						}
					},
					"example": {
						"next_until": 1502362013
					}
				}
			}
		},
		"ViewResponses": {
			"type": "array",
			"items": {
				"type": "object",
				"description": "ViewResponse is the detailed view of a specific response.",
				"properties": {
					"submitted_at": {
						"type": "number"
					},
					"token": {
						"type": "string"
					},
					"hidden": {
						"type": "array",
						"items": {
							"type": "object",
							"description": "ViewHidden is a list of answered hidden fields.",
							"properties": {
								"name": {
									"type": "string"
								},
								"value": {
									"type": "string"
								}
							}
						}
					},
					"score": {
						"description": "Answered value for the score.",
						"type": "number"
					},
					"answers": {
						"description": "List of answers.",
						"type": "array",
						"items": {
							"type": "object",
							"description": "ViewResponseAnswer an answers for a specific field and submission.",
							"properties": {
								"id": {
									"description": "It identifies the box.",
									"type": "string"
								},
								"ref": {
									"description": "Identifies the box by reference. It is used for piping.",
									"type": "string"
								},
								"type": {
									"description": "It determines the type of the field box to render.",
									"type": "string",
									"enum": ["multiple_choice", "picture_choice", "date", "yes_no", "legal", "opinion_scale", "rating", "dropdown", "payment", "website", "file_upload", "number", "email", "long_text", "short_text", "group", "phone_number"]
								},
								"title": {
									"description": "Title is the text that will show up in the top of the field box.",
									"type": "string"
								},
								"multiple_choice": {
									"type": "object",
									"description": "ViewResponse is the detailed view of a specific response.",
									"properties": {
										"choices": {
											"description": "List of answered choices.",
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"other": {
											"type": "string"
										}
									}
								},
								"picture_choice": {
									"type": "object",
									"description": "ViewResponse is the detailed view of a specific response.",
									"properties": {
										"choices": {
											"description": "List of answered choices.",
											"type": "array",
											"items": {
												"type": "object",
												"description": "ViewResponse is the detailed view of a specific response.",
												"properties": {
													"choice": {
														"type": "string"
													},
													"image_url": {
														"type": "string"
													}
												}
											}
										},
										"other": {
											"type": "string"
										}
									}
								},
								"date": {
									"type": "object",
									"properties": {
										"timestamp": {
											"type": "number"
										},
										"format": {
											"type": "string"
										}
									}
								},
								"yes_no": {
									"type": "object",
									"properties": {
										"value": {
											"type": "string"
										}
									}
								},
								"legal": {
									"type": "object",
									"properties": {
										"value": {
											"type": "string"
										}
									}
								},
								"opinion_scale": {
									"type": "object",
									"properties": {
										"value": {
											"type": "number"
										},
										"total": {
											"type": "number"
										}
									}
								},
								"rating": {
									"type": "object",
									"properties": {
										"value": {
											"type": "number"
										},
										"total": {
											"type": "number"
										}
									}
								},
								"dropdown": {
									"type": "object",
									"properties": {
										"value": {
											"type": "string"
										}
									}
								},
								"payment": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"last4": {
											"type": "string"
										},
										"is_paid": {
											"type": "boolean"
										},
										"amount": {
											"type": "string"
										},
										"currency": {
											"type": "string"
										}
									},
									"example": {
										"name": "John Doe",
										"last4": "1234",
										"is_paid": true,
										"amount": "12345",
										"currency": "USD"
									}
								},
								"website": {
									"type": "object",
									"properties": {
										"value": {
											"type": "string"
										}
									}
								},
								"file_upload": {
									"type": "object",
									"properties": {
										"file_url": {
											"type": "string"
										},
										"file_name": {
											"type": "string"
										},
										"thumbnail_url": {
											"description": "thumbnail_url will be returned only if the file has an image extension (jpg, jpeg, gif, png)",
											"type": "string"
										}
									},
									"example": {
										"file_url": "https://api.typeform.com/forms/XdjfXL/responses/7f46165474d11ee5836777d85df2cdab/fields/MGJHuy2hN06C/files/somePicture.jpg",
										"file_name": "somePicture.jpg",
										"thumbnail_url": "https://api.typeform.com/forms/XdjfXL/responses/7f46165474d11ee5836777d85df2cdab/fields/MGJHuy2hN06C/files/ssomePicture.jpg"
									}
								},
								"number": {
									"type": "object",
									"properties": {
										"value": {
											"type": "number"
										}
									}
								},
								"email": {
									"type": "object",
									"properties": {
										"value": {
											"type": "string"
										}
									}
								},
								"long_text": {
									"type": "object",
									"properties": {
										"value": {
											"type": "string"
										}
									}
								},
								"short_text": {
									"type": "object",
									"properties": {
										"value": {
											"type": "string"
										}
									}
								},
								"phone_number": {
									"type": "object",
									"properties": {
										"value": {
											"type": "string"
										}
									}
								},
								"group": {
									"type": "object",
									"properties": {
										"title": {
											"type": "string"
										},
										"answers": {
											"description": "List of answers inside a group.",
											"type": "array",
											"items": {
												"type": "object",
												"description": "Box is the boombox representation of a form field.",
												"properties": {
													"id": {
														"description": "It identifies the box.",
														"type": "string"
													},
													"ref": {
														"description": "Identifies the box by reference. It is used for piping.",
														"type": "string"
													},
													"type": {
														"description": "It determines the type of the field box to render.",
														"type": "string",
														"enum": ["multiple_choice", "picture_choice", "date", "yes_no", "legal", "opinion_scale", "rating", "dropdown", "payment", "website", "file_upload", "number", "email", "long_text", "short_text", "phone_number"]
													},
													"title": {
														"description": "Title is the text that will show up in the top of the field box.",
														"type": "string"
													},
													"multiple_choice": {
														"type": "object",
														"description": "ViewResponse is the detailed view of a specific response.",
														"properties": {
															"choices": {
																"description": "List of answered choices.",
																"type": "array",
																"items": {
																	"type": "string"
																}
															},
															"other": {
																"type": "string"
															}
														}
													},
													"picture_choice": {
														"type": "object",
														"description": "ViewResponse is the detailed view of a specific response.",
														"properties": {
															"choices": {
																"description": "List of answered choices.",
																"type": "array",
																"items": {
																	"type": "object",
																	"description": "ViewResponse is the detailed view of a specific response.",
																	"properties": {
																		"choice": {
																			"type": "string"
																		},
																		"image_url": {
																			"type": "string"
																		}
																	}
																}
															},
															"other": {
																"type": "string"
															}
														}
													},
													"date": {
														"type": "object",
														"properties": {
															"timestamp": {
																"type": "number"
															},
															"format": {
																"type": "string"
															}
														}
													},
													"yes_no": {
														"type": "object",
														"properties": {
															"value": {
																"type": "string"
															}
														}
													},
													"legal": {
														"type": "object",
														"properties": {
															"value": {
																"type": "string"
															}
														}
													},
													"opinion_scale": {
														"type": "object",
														"properties": {
															"value": {
																"type": "number"
															},
															"total": {
																"type": "number"
															}
														}
													},
													"rating": {
														"type": "object",
														"properties": {
															"value": {
																"type": "number"
															},
															"total": {
																"type": "number"
															}
														}
													},
													"dropdown": {
														"type": "object",
														"properties": {
															"value": {
																"type": "string"
															}
														}
													},
													"payment": {
														"type": "object",
														"properties": {
															"name": {
																"type": "string"
															},
															"last4": {
																"type": "string"
															},
															"is_paid": {
																"type": "boolean"
															},
															"amount": {
																"type": "string"
															},
															"currency": {
																"type": "string"
															}
														},
														"example": {
															"name": "John Doe",
															"last4": "1234",
															"is_paid": true,
															"amount": "12345",
															"currency": "USD"
														}
													},
													"website": {
														"type": "object",
														"properties": {
															"value": {
																"type": "string"
															}
														}
													},
													"file_upload": {
														"type": "object",
														"properties": {
															"file_url": {
																"type": "string"
															},
															"file_name": {
																"type": "string"
															},
															"thumbnail_url": {
																"description": "thumbnail_url will be returned only if the file has an image extension (jpg, jpeg, gif, png)",
																"type": "string"
															}
														},
														"example": {
															"file_url": "https://api.typeform.com/forms/XdjfXL/responses/7f46165474d11ee5836777d85df2cdab/fields/MGJHuy2hN06C/files/somePicture.jpg",
															"file_name": "somePicture.jpg",
															"thumbnail_url": "https://api.typeform.com/forms/XdjfXL/responses/7f46165474d11ee5836777d85df2cdab/fields/MGJHuy2hN06C/files/ssomePicture.jpg"
														}
													},
													"number": {
														"type": "object",
														"properties": {
															"value": {
																"type": "number"
															}
														}
													},
													"email": {
														"type": "object",
														"properties": {
															"value": {
																"type": "string"
															}
														}
													},
													"long_text": {
														"type": "object",
														"properties": {
															"value": {
																"type": "string"
															}
														}
													},
													"short_text": {
														"type": "object",
														"properties": {
															"value": {
																"type": "string"
															}
														}
													},
													"phone_number": {
														"type": "object",
														"properties": {
															"value": {
																"type": "string"
															}
														}
													}
												},
												"example": {
													"id": "aBcDe",
													"type": "default",
													"title": "What is your name?"
												}
											}
										}
									}
								}
							},
							"example": {
								"id": "aBcDe",
								"type": "default",
								"title": "What is your name?"
							}
						}
					}
				}
			}
		},
		"Fields": {
			"type": "array",
			"items": {
				"type": "object",
				"description": "Field is a item containing necessary information to filter a responses list request.",
				"properties": {
					"id": {
						"description": "It identifies the box inside the form.",
						"type": "string"
					},
					"type": {
						"description": "It determines the type of the field box to render.",
						"type": "string",
						"enum": ["multiple_choice", "picture_choice", "date", "yes_no", "legal", "opinion_scale", "rating", "dropdown", "payment", "website", "file_upload", "number", "email", "long_text", "short_text", "group", "phone_number"]
					},
					"title": {
						"description": "Title is the text that will show up in the top of the field box.",
						"type": "string"
					},
					"group": {
						"description": "If the field is a group, the specifics of this type will be inside this object.",
						"type": "object",
						"properties": {
							"fields": {
								"description": "List of grouped fields",
								"type": "array",
								"items": {
									"type": "object",
									"description": "Field is a item containing necessary information to filter a responses list request.",
									"properties": {
										"id": {
											"description": "It identifies the box inside the form.",
											"type": "string"
										},
										"type": {
											"description": "It determines the type of the field box to render.",
											"type": "string",
											"enum": ["multiple_choice", "picture_choice", "date", "yes_no", "legal", "opinion_scale", "rating", "dropdown", "payment", "website", "file_upload", "number", "email", "long_text", "short_text", "phone_number"]
										},
										"title": {
											"description": "Title is the text that will show up in the top of the field box.",
											"type": "string"
										}
									},
									"example": {
										"id": "aBcDe",
										"type": "default",
										"title": "What is your name?"
									}
								}
							}
						}
					}
				},
				"example": {
					"id": "aBcDe",
					"type": "default",
					"title": "What is your name?"
				}
			}
		},
		"Destinations": {
			"type": "object",
			"required": ["user_id", "token", "metadata"],
			"properties": {
				"user_id": {
					"type": "string",
					"example": "01CP2WM7EK7W4G7M2M73K69SHT"
				},
				"token": {
					"type": "string",
					"example": "1bc29b36f623ba82aaf6724fd3b1671"
				},
				"metadata": {
					"type": "object",
					"example": {
						"data_center": "us15"
					}
				}
			}
		},
		"DestinationsResponse": {
			"type": "object",
			"required": ["items"],
			"properties": {
				"items": {
					"type": "array",
					"items": {
						"type": "object",
						"required": ["id", "name"],
						"properties": {
							"id": {
								"type": "string",
								"example": "01CP2WM7EK7W4G7M2M73K69SHT"
							},
							"name": {
								"type": "string",
								"example": "Marketing campaign August 2018"
							}
						}
					}
				}
			}
		},
		"Destination": {
			"type": "object",
			"required": ["id", "name"],
			"properties": {
				"id": {
					"type": "string",
					"example": "01CP2WM7EK7W4G7M2M73K69SHT"
				},
				"name": {
					"type": "string",
					"example": "Marketing campaign August 2018"
				}
			}
		},
		"UserAuthorized": {
			"type": "object",
			"required": ["user_id", "token"],
			"properties": {
				"user_id": {
					"type": "string",
					"example": "01CP2WM7EK7W4G7M2M73K69SHT"
				},
				"token": {
					"type": "string",
					"example": "1bc29b36f623ba82aaf6724fd3b1671"
				}
			}
		},
		"UserInfo": {
			"type": "object",
			"required": ["user_label"],
			"properties": {
				"user_label": {
					"type": "string",
					"example": "user@third-party-service.com"
				},
				"metadata": {
					"type": "object",
					"example": {
						"data_center": "us15"
					}
				}
			}
		},
		"DestinationFields": {
			"type": "object",
			"required": ["user_id", "token", "metadata", "destination_id"],
			"properties": {
				"user_id": {
					"type": "string",
					"example": "01CP2WM7EK7W4G7M2M73K69SHT"
				},
				"token": {
					"type": "string",
					"example": "1bc29b36f623ba82aaf6724fd3b1671"
				},
				"metadata": {
					"type": "object",
					"example": {
						"data_center": "us15"
					}
				},
				"destination_id": {
					"type": "string",
					"example": "42"
				}
			}
		},
		"FieldsResponse": {
			"type": "object",
			"required": ["items"],
			"properties": {
				"items": {
					"type": "array",
					"items": {
						"type": "object",
						"required": ["id", "type", "provider_type", "required", "label"],
						"properties": {
							"id": {
								"type": "string",
								"example": "01CP2WM7EK7W4G7M2M73K69SHT"
							},
							"type": {
								"type": "string",
								"example": "short_text"
							},
							"provider_type": {
								"type": "string",
								"example": "textfield"
							},
							"required": {
								"type": "boolean",
								"example": true
							},
							"label": {
								"type": "string",
								"example": "First name"
							}
						}
					}
				}
			}
		},
		"DestinationField": {
			"type": "object",
			"required": ["id", "type", "provider_type", "required", "label"],
			"properties": {
				"id": {
					"type": "string",
					"example": "01CP2WM7EK7W4G7M2M73K69SHT"
				},
				"type": {
					"type": "string",
					"example": "short_text"
				},
				"provider_type": {
					"type": "string",
					"example": "textfield"
				},
				"required": {
					"type": "boolean",
					"example": true
				},
				"label": {
					"type": "string",
					"example": "First name"
				}
			}
		},
		"Setup": {
			"type": "object",
			"required": ["user_id", "token", "destination", "data"],
			"properties": {
				"user_id": {
					"type": "string",
					"example": "01CP2WM7EK7W4G7M2M73K69SHT"
				},
				"token": {
					"type": "string",
					"example": "1bc29b36f623ba82aaf6724fd3b1671"
				},
				"destination": {
					"type": "object",
					"properties": {
						"id": {
							"type": "string",
							"example": "42"
						},
						"name": {
							"type": "string",
							"example": "abc123"
						}
					}
				},
				"data": {
					"type": "object",
					"required": ["event_id", "event_type", "form_response"],
					"properties": {
						"event_id": {
							"type": "string",
							"example": "LtWXD3crgy"
						},
						"event_type": {
							"type": "string",
							"example": "form_response"
						},
						"form_response": {
							"type": "object",
							"required": ["form_id", "token", "submitted_at", "landed_at", "answers", "calculated"],
							"properties": {
								"form_id": {
									"type": "string",
									"example": "lT4Z3j"
								},
								"token": {
									"type": "string",
									"example": "a3a12ec67a1365927098a606107fac15"
								},
								"submitted_at": {
									"type": "string",
									"example": "2018-01-18T18:17:02Z"
								},
								"landed_at": {
									"type": "string",
									"example": "2018-01-18T18:07:02Z"
								},
								"answers": {
									"type": "array",
									"items": {
										"type": "object",
										"required": ["type", "text", "field"],
										"properties": {
											"type": {
												"type": "string",
												"example": "text"
											},
											"text": {
												"type": "string",
												"example": "It's cold right now! I live in an older medium-sized city with a university. Geographically, the area is hilly."
											},
											"field": {
												"type": "object",
												"required": ["id", "type"],
												"properties": {
													"id": {
														"type": "string",
														"example": "DlXFaesGBpoF"
													},
													"type": {
														"type": "string",
														"example": "long_text"
													},
													"ref": {
														"type": "string",
														"example": "my_ref"
													}
												}
											}
										}
									}
								},
								"calculated": {
									"type": "object",
									"required": ["score"],
									"properties": {
										"score": {
											"type": "integer",
											"example": 9
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"SetupErrorResponse": {
			"type": "object",
			"required": ["message"],
			"properties": {
				"message": {
					"type": "string",
					"example": "An error occurred."
				}
			}
		},
		"Mappings": {
			"type": "array",
			"items": {
				"type": "object",
				"required": ["typeform_field", "provider_field"],
				"properties": {
					"typeform_field": {
						"type": "object",
						"required": ["id"],
						"properties": {
							"id": {
								"type": "string",
								"example": "abc123"
							}
						}
					},
					"provider_field": {
						"type": "object",
						"required": ["id"],
						"properties": {
							"id": {
								"type": "string",
								"example": "abc123"
							},
							"type": {
								"type": "string",
								"example": "abc123"
							}
						}
					}
				}
			}
		},
		"Mapping": {
			"type": "object",
			"required": ["typeform_field", "provider_field"],
			"properties": {
				"typeform_field": {
					"type": "object",
					"required": ["id"],
					"properties": {
						"id": {
							"type": "string",
							"example": "abc123"
						}
					}
				},
				"provider_field": {
					"type": "object",
					"required": ["id"],
					"properties": {
						"id": {
							"type": "string",
							"example": "abc123"
						},
						"type": {
							"type": "string",
							"example": "abc123"
						}
					}
				}
			}
		},
		"TypeformField": {
			"type": "object",
			"required": ["id"],
			"properties": {
				"id": {
					"type": "string",
					"example": "abc123"
				}
			}
		},
		"ProviderField": {
			"type": "object",
			"required": ["id"],
			"properties": {
				"id": {
					"type": "string",
					"example": "abc123"
				},
				"type": {
					"type": "string",
					"example": "abc123"
				}
			}
		},
		"Submission": {
			"type": "object",
			"required": ["event_id", "event_type", "form_response"],
			"properties": {
				"event_id": {
					"type": "string",
					"example": "LtWXD3crgy"
				},
				"event_type": {
					"type": "string",
					"example": "form_response"
				},
				"form_response": {
					"type": "object",
					"required": ["form_id", "token", "submitted_at", "landed_at", "answers", "calculated"],
					"properties": {
						"form_id": {
							"type": "string",
							"example": "lT4Z3j"
						},
						"token": {
							"type": "string",
							"example": "a3a12ec67a1365927098a606107fac15"
						},
						"submitted_at": {
							"type": "string",
							"example": "2018-01-18T18:17:02Z"
						},
						"landed_at": {
							"type": "string",
							"example": "2018-01-18T18:07:02Z"
						},
						"answers": {
							"type": "array",
							"items": {
								"type": "object",
								"required": ["type", "text", "field"],
								"properties": {
									"type": {
										"type": "string",
										"example": "text"
									},
									"text": {
										"type": "string",
										"example": "It's cold right now! I live in an older medium-sized city with a university. Geographically, the area is hilly."
									},
									"field": {
										"type": "object",
										"required": ["id", "type"],
										"properties": {
											"id": {
												"type": "string",
												"example": "DlXFaesGBpoF"
											},
											"type": {
												"type": "string",
												"example": "long_text"
											},
											"ref": {
												"type": "string",
												"example": "my_ref"
											}
										}
									}
								}
							}
						},
						"calculated": {
							"type": "object",
							"required": ["score"],
							"properties": {
								"score": {
									"type": "integer",
									"example": 9
								}
							}
						}
					}
				}
			}
		},
		"Answer": {
			"type": "object",
			"required": ["type", "text", "field"],
			"properties": {
				"type": {
					"type": "string",
					"example": "text"
				},
				"text": {
					"type": "string",
					"example": "It's cold right now! I live in an older medium-sized city with a university. Geographically, the area is hilly."
				},
				"field": {
					"type": "object",
					"required": ["id", "type"],
					"properties": {
						"id": {
							"type": "string",
							"example": "DlXFaesGBpoF"
						},
						"type": {
							"type": "string",
							"example": "long_text"
						},
						"ref": {
							"type": "string",
							"example": "my_ref"
						}
					}
				}
			}
		},
		"AnswerField": {
			"type": "object",
			"required": ["id", "type"],
			"properties": {
				"id": {
					"type": "string",
					"example": "DlXFaesGBpoF"
				},
				"type": {
					"type": "string",
					"example": "long_text"
				},
				"ref": {
					"type": "string",
					"example": "my_ref"
				}
			}
		},
		"FormResponse": {
			"type": "object",
			"required": ["form_id", "token", "submitted_at", "landed_at", "answers", "calculated"],
			"properties": {
				"form_id": {
					"type": "string",
					"example": "lT4Z3j"
				},
				"token": {
					"type": "string",
					"example": "a3a12ec67a1365927098a606107fac15"
				},
				"submitted_at": {
					"type": "string",
					"example": "2018-01-18T18:17:02Z"
				},
				"landed_at": {
					"type": "string",
					"example": "2018-01-18T18:07:02Z"
				},
				"answers": {
					"type": "array",
					"items": {
						"type": "object",
						"required": ["type", "text", "field"],
						"properties": {
							"type": {
								"type": "string",
								"example": "text"
							},
							"text": {
								"type": "string",
								"example": "It's cold right now! I live in an older medium-sized city with a university. Geographically, the area is hilly."
							},
							"field": {
								"type": "object",
								"required": ["id", "type"],
								"properties": {
									"id": {
										"type": "string",
										"example": "DlXFaesGBpoF"
									},
									"type": {
										"type": "string",
										"example": "long_text"
									},
									"ref": {
										"type": "string",
										"example": "my_ref"
									}
								}
							}
						}
					}
				},
				"calculated": {
					"type": "object",
					"required": ["score"],
					"properties": {
						"score": {
							"type": "integer",
							"example": 9
						}
					}
				}
			}
		},
		"Calculated": {
			"type": "object",
			"required": ["score"],
			"properties": {
				"score": {
					"type": "integer",
					"example": 9
				}
			}
		},
		"Definition": {
			"type": "object",
			"required": ["id", "title", "fields"],
			"properties": {
				"id": {
					"type": "string",
					"example": "lT4Z3j"
				},
				"title": {
					"type": "string",
					"example": "Webhooks example"
				},
				"fields": {
					"type": "array",
					"items": {
						"type": "object",
						"required": ["id", "title", "type", "ref", "allow_multiple_selections", "allow_other_choice"],
						"properties": {
							"id": {
								"type": "string",
								"example": "DlXFaesGBpoF"
							},
							"title": {
								"type": "string",
								"example": "Thanks, {{answer_60906475}}! What's it like where you live? Tell us in a few sentences."
							},
							"type": {
								"type": "string",
								"example": "long_text"
							},
							"ref": {
								"type": "string",
								"example": "readable_ref_long_text"
							},
							"allow_multiple_selections": {
								"type": "boolean",
								"example": false
							},
							"allow_other_choice": {
								"type": "boolean",
								"example": false
							}
						}
					}
				}
			}
		},
		"DefinitionField": {
			"type": "object",
			"required": ["id", "title", "type", "ref", "allow_multiple_selections", "allow_other_choice"],
			"properties": {
				"id": {
					"type": "string",
					"example": "DlXFaesGBpoF"
				},
				"title": {
					"type": "string",
					"example": "Thanks, {{answer_60906475}}! What's it like where you live? Tell us in a few sentences."
				},
				"type": {
					"type": "string",
					"example": "long_text"
				},
				"ref": {
					"type": "string",
					"example": "readable_ref_long_text"
				},
				"allow_multiple_selections": {
					"type": "boolean",
					"example": false
				},
				"allow_other_choice": {
					"type": "boolean",
					"example": false
				}
			}
		},
		"UserDeauthorized": {
			"type": "object",
			"required": ["user_id"],
			"properties": {
				"user_id": {
					"type": "string",
					"example": "01CP2WM7EK7W4G7M2M73K69SHT"
				}
			}
		},
		"Response": {
			"type": "object",
			"properties": {
				"typeform_field_id": {
					"type": "string",
					"example": "12k3j24"
				},
				"provider_field_id": {
					"type": "string",
					"example": "name"
				},
				"value": {
					"type": "string",
					"example": "foo"
				},
				"type": {
					"type": "string",
					"example": "string"
				}
			}
		},
		"BackfillingResponses": {
			"type": "object",
			"properties": {
				"conditional_responses": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"typeform_field_id": {
								"type": "string",
								"example": "12k3j24"
							},
							"provider_field_id": {
								"type": "string",
								"example": "name"
							},
							"value": {
								"type": "string",
								"example": "foo"
							},
							"type": {
								"type": "string",
								"example": "string"
							}
						}
					}
				}
			}
		},
		"Backfilling": {
			"type": "object",
			"required": ["user_id", "token", "destination", "responses"],
			"properties": {
				"user_id": {
					"type": "string",
					"example": "01CP2WM7EK7W4G7M2M73K69SHT"
				},
				"token": {
					"type": "string",
					"example": "1bc29b36f623ba82aaf6724fd3b1671"
				},
				"metadata": {
					"type": "object",
					"example": {
						"data_center": "us15"
					}
				},
				"destination": {
					"type": "object",
					"properties": {
						"id": {
							"type": "string",
							"example": "42"
						},
						"name": {
							"type": "string",
							"example": "abc123"
						}
					}
				}
			}
		},
		"Delete": {
			"type": "object",
			"required": ["token", "form_id", "destination_id"],
			"properties": {
				"token": {
					"type": "string",
					"example": "a3a12ec67a1365927098a606107fac15"
				},
				"form_id": {
					"type": "string",
					"example": "lT4Z3j"
				},
				"destination_id": {
					"type": "string",
					"example": "42"
				}
			}
		},
		"TestIntegrationResponse": {
			"type": "object",
			"properties": {
				"integration_id": {
					"type": "string"
				},
				"destination": {
					"type": "object",
					"properties": {
						"id": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"portal_id": {
							"type": "number"
						}
					}
				},
				"backfill_possible": {
					"type": "boolean"
				}
			},
			"example": {
				"integration_id": "01CVSB08NBQ6HYQFG8Q3DF4JVQ",
				"destination": {
					"id": "1b9Thh6vnboLETYNg6rpx0e5qtM3UrQkx7gRZKGuHpWY",
					"name": "test",
					"portal_id": 1
				},
				"backfill_possible": false
			}
		},
		"BaseDestinationRequest": {
			"type": "object",
			"properties": {
				"authorization_id": {
					"type": "string",
					"description": "Authorization id to use to get the list of destinations in the provider."
				},
				"provider_id": {
					"type": "string",
					"description": "Unique id of the provider. The provider of the use case including the API version(e.g. mailchimpv3, trellov1, etc.)."
				},
				"use_case_id": {
					"type": "string",
					"description": "The use case of the integration in snake case(e.g. add_contact, add_card). These constants will be defined by us and will not need to match with any external definition. TDB the different types."
				},
				"destination": {
					"type": "object",
					"description": "Here you'll define which destination is the customer choosing so this endpoint returns the resources related to it.",
					"properties": {
						"id": {
							"type": "string",
							"description": "Unique identifier for the destination. E.x. for Mailchimp this is the id of the list which to add contacts to."
						},
						"destination": {
							"type": "string",
							"description": "Could be **optional**. This is actually a nested Destination object, used to specify  sub-destinations."
						}
					},
					"example": {
						"id": "list_abc_123",
						"destination": null
					}
				}
			}
		},
		"V1FormDescription": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"title": {
					"type": "string"
				},
				"fields": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"type": {
								"type": "string"
							},
							"title": {
								"type": "string"
							},
							"id": {
								"type": "string"
							},
							"choices": {
								"type": "array",
								"items": {
									"type": "object",
									"properties": {
										"id": {
											"type": "number",
											"format": "integer"
										},
										"label": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"example": {
				"id": "12345",
				"title": "Demographic survey",
				"fields": [{
					"id": "abcd",
					"type": "dropdown",
					"title": "What sector do you work in?"
				}, {
					"id": "jklm",
					"type": "list",
					"title": "What pets do you have?",
					"choices": [{
						"id": 1,
						"label": "dog"
					}, {
						"id": 2,
						"label": "cat"
					}]
				}]
			}
		},
		"V1FormFields": {
			"type": "object",
			"properties": {
				"type": {
					"type": "string"
				},
				"title": {
					"type": "string"
				},
				"id": {
					"type": "string"
				},
				"choices": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"id": {
								"type": "number",
								"format": "integer"
							},
							"label": {
								"type": "string"
							}
						}
					}
				}
			}
		},
		"V1FormMultipleChoices": {
			"type": "object",
			"properties": {
				"id": {
					"type": "number",
					"format": "integer"
				},
				"label": {
					"type": "string"
				}
			}
		},
		"CountryCodes": {
			"type": "array",
			"items": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "A country code",
						"format": "ISO 3166-1 Alpha-2",
						"example": "AD"
					}
				}
			}
		},
		"CountryCode": {
			"type": "object",
			"properties": {
				"code": {
					"type": "string",
					"description": "A country code",
					"format": "ISO 3166-1 Alpha-2",
					"example": "AD"
				}
			}
		},
		"IsoCountryCode": {
			"type": "string",
			"description": "A country code",
			"format": "ISO 3166-1 Alpha-2",
			"example": "AD"
		},
		"Prices": {
			"type": "array",
			"items": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "A unique identifier for the pricing plan",
						"example": "123asd"
					},
					"plan_name": {
						"type": "string",
						"description": "The name of a plan",
						"enum": ["free", "essentials", "professional", "premmium", "enterprise"],
						"example": "essentials"
					},
					"period": {
						"type": "string",
						"description": "The amount of time a subscription period lasts",
						"format": "Duration in ISO-8601",
						"enum": ["P1M", "P1Y"],
						"example": "P1M"
					},
					"charge_model": {
						"type": "string",
						"description": "Determines how charges are calculated",
						"example": "fixed",
						"enum": ["fixed", "tiered"]
					},
					"price": {
						"type": "object",
						"properties": {
							"currency": {
								"type": "object",
								"description": "Currency information",
								"properties": {
									"code": {
										"type": "string",
										"description": "Code that uniquely identifies a currency",
										"format": "ISO-4217",
										"example": "EUR"
									}
								}
							},
							"amount": {
								"type": "integer",
								"example": 100
							},
							"scale": {
								"type": "integer",
								"description": "Number of digits to the right of the decimal point in `amount`",
								"example": 2
							}
						}
					},
					"addons": {
						"type": "array",
						"items": {
							"type": "object",
							"properties": {
								"id": {
									"type": "string",
									"format": "ULID",
									"example": "01CETTA1Z7RFREW3XEPSJDHRAT"
								},
								"type": {
									"type": "string",
									"enum": ["members_seats"]
								},
								"charge_model": {
									"example": "tiered",
									"type": "string",
									"description": "Determines how charges are calculated",
									"enum": ["fixed", "tiered"]
								},
								"tiers": {
									"type": "array",
									"items": {
										"type": "object",
										"required": ["from", "price"],
										"properties": {
											"from": {
												"type": "number",
												"description": "Minimum number of unit which the tier applies(inclusive)."
											},
											"to": {
												"type": "number",
												"description": "Maximum number of unit which the tier applies(inclusive). It can be null."
											},
											"price": {
												"type": "object",
												"properties": {
													"currency": {
														"type": "object",
														"description": "Currency information",
														"properties": {
															"code": {
																"type": "string",
																"description": "Code that uniquely identifies a currency",
																"format": "ISO-4217",
																"example": "EUR"
															}
														}
													},
													"amount": {
														"type": "integer",
														"example": 100
													},
													"scale": {
														"type": "integer",
														"description": "Number of digits to the right of the decimal point in `amount`",
														"example": 2
													}
												}
[...]
